node_modules/**/*
.idea/
.expo/*
npm-debug.*
lib/Application/*.js
!lib/Application/test.js
!lib/Application/WordList.js
lib/Application/node_modules/
lib/Storage/*.js
lib/Storage/node_modules/
lib/postprocessor/*.js
lib/postprocessor/node_modules/
lib/lib.js
lib/lib_pre.js
nbproject/
.DS_Store
.expo-shared/
android/app/prodMinSdkProdKernel/
android/build/
*.iml
